.git
.gitignore
.env
token.txt
github_mgr.py
Github_push_create_delete.py
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.DS_Store
Dockerfile
.dockerignore
README.md
readme.md
CONTRIBUTING.md
