# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environments & Local Utilities
.venv/
venv/
ENV/
env/
.env
token.txt
github_mgr.py

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
